[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/parthraut/llvm-project.git
[submodule "external/pycparser"]
	path = external/pycparser
	url = https://github.com/eliben/pycparser.git
